/* CSS for body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #FFC0CB, #87CEEB); /* Gradient background with pink and sky blue */
}

/* CSS for header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* CSS for navigation menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* CSS for navigation links */
nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* CSS for navigation links on hover */
nav ul li a:hover {
  color: #ccc;
}

/* CSS for main content */
main {
  padding: 20px;
}

/* CSS for footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 7px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* CSS for FAQ page */
.faq-title {
    text-align: center;
    font-size: 2em;
    color: black; /* Change to desired color */
}

.faq-intro {
    text-align: center;
    color: black; /* Change to desired color */
}

.question h3 {
    color: red; /* Change to desired color */
}
